# Moodle 5.2.x Environment Variables
# Copy this file to .env and fill in your values

PUBLIC_IP:0.0.0.0

# Git Remote Repo
BRANCH="v2"
GIT_REMOTE_REPO_URL="https://raw.githubusercontent.com/sambarnades/MoPgR/${BRANCH}"

# PostgreSQL Database Configuration
POSTGRES_VERSION=18.4
POSTGRES_HOST="postgres"
POSTGRES_DB="moodle"
POSTGRES_USER="moodleadmin"
# The password is the same for all services, adapt as you wish. Keep the double quotes to securize your password.
POSTGRES_PASSWORD="change_me"
ALLOW_EMPTY_PASSWORD="false"
PGDATA="/var/lib/postgresql/data/pgdata"

# Moodle Configuration
MOODLE_VERSION=502
MOODLE_ROOT=my-address.com

# PGAdmin Configuration
ADMIN_EMAIL="admin@pgadmin.com"
ADMIN_PASSWORD=${POSTGRES_PASSWORD}

# Redis Configuration
REDIS_VERSION=8.8.0
REDIS_HOST="redis"
REDIS_PORT= "6379"
REDIS_USERNAME= "default"
REDIS_SSL= "False"
REDIS_CA_PATH= ""
REDIS_SSL_KEYFILE= ""
REDIS_SSL_CERTFILE= ""
REDIS_CERT_REQS= "required"
REDIS_CA_CERTS= ""
REDIS_CLUSTER_MODE= "False"
REDIS_PWD= ""

# RedisInsight Configuration
REDISINSIGHT_VERSION=3.6

# Certbot Configuration
CERTBOT_VERSION=5.6.0